@import "./colors";
@import "./buttons";

.body {
  font-family: "Rubik", sans-serif;
}

.header {
  color: $navy;
  font-size: 46px;
  line-height: 60px;
  font-weight: map-get($font-weights, semibold);
}

.description {
  font-size: 16px;
  line-height: 30px;
  color: $newpur;
  font-weight: map-get($font-weights, regular);
  margin-top: 20px;
}

.navbar-tp {
  padding-top: 30px;
  .navbar-nav {
    li {
      padding-left: 50px;
    }
    .active {
      color: $purple !important;
      font-weight: map-get($font-weights, medium) !important;
    }
    .nav-link {
      color: $navy;
      font-weight: map-get($font-weights, regular);
    }
  }
}

.sales {
  padding-top: 90px;
  .brand {
    margin-top: 70px;
    .brand-logos {
      width: 724px;
    }
  }
  .copywriting {
    padding-left: 130px;
    .header {
      margin-top: 100px;
    }
    .description {
      max-width: 380px;
      margin-bottom: 40px;
    }
  }
}

.pricing {
  margin-top: 70px;
  background-color: $lilpur;
  .header {
    margin-top: 70px;
  }
  .description {
    margin-bottom: 50px;
  }
  .master-card {
    padding: 30px;
    border-radius: 22px;
  }
  .basic-card {
    @extend .master-card;
    background: $white;
  }
}
